
{% extends 'base.html.twig' %}
{% block body %}
    <div class="jumbotron text-center">
        <h2><label  for="topicOptions" style="font-size: 28px; color: #5bc0de;" class="ng-binding" >Inscription a une pack </label></h2>

    </div>
    <div class="jumbotron text-center">
        <div class="container">


            <center>




                <fieldset style="width: 30%;margin: auto;">
                    <TABLE class="table table-striped">
                        <tr><td>
                                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12" style="border-bottom:none;width: 200px;" >
                                    <label  for="topicOptions" style="font-size: 18px; color: #0b3e6f;" class="ng-binding" >L'enfant inscrit
                                        <i class="fa fa-hourglass-half"></i></label>
                                    <div class="input-group date">
                                        <div class="input-group-addon">
                                            <br>
                                            {{ inscription_pack.idEnfant.prenom }}  {{ inscription_pack.idEnfant.nom }}<br><br>

                                        </div>


                                    </div>
                                </div>
                            </td></tr>
                        <tr><td>
                                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12" style="border-bottom:none;width: 200px;"">
                                <label  for="topicOptions" style="font-size: 18px; color: #0b3e6f;" class="ng-binding" >Date de l'inscription
                                    <i class="fa fa-calendar"></i></label>

                                {% if inscription_pack.dateInsc %}{{ inscription_pack.dateInsc|date('Y-m-d') }}{% endif %}<br><br>

        </div>
        </td></tr>

        <tr><td>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12" style="border-bottom:none;width: 200px;" >
                    <label  for="topicOptions" style="font-size: 18px; color: #0b3e6f;" class="ng-binding" >Le titre du pack
                        <i class="fa fa-hourglass-half"></i></label>
                    <div class="input-group date">
                        <div class="input-group-addon">
                            <br>
                            {{ inscription_pack.idPack.titre }} <br><br>

                        </div>


                    </div>
                </div>
            </td></tr>


    </TABLE>
    </fieldset>

    </center>


    </div>
    <div class="text-center">

        <a  class="btn btn-app" href="{{ path('inscription_pack_index') }}"><i class="fa fa-align-left"></i>Retour a la liste</a>

        <a class="btn btn-app" href="{{ path('inscription_pack_edit', { 'idInscription': inscription_pack.idInscription }) }}">
            <i class="fa fa-edit"></i> Modifier
        </a>





        <a class="btn btn-app" href="{{ path('inscription_pack_delete',{'idInscription':inscription_pack.idInscription}) }}">
            <i class="fa fa-trash"></i>
        </a>
    </div>


    </div>




{% endblock %}