{% extends 'base.html.twig' %}

{% block body %}
    <h1>Commentaire edit</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
    <div hidden>
        <label>Date</label><br>
        <input type="text" class="form-control" id="prix" style="width: 40%; placeholder="Prix"
        {{ form_widget(edit_form.date) }}<br><br>

    </div>
    <div >
        <label>User</label><br>
        <input type="text" class="form-control" id="prix" style="width: 40%; placeholder="Prix"
        {{ form_widget(edit_form.idUser) }}<br><br>
    </div>
    <label>contenu</label><br>
    <input type="text" class="form-control" id="prix" style="width: 40%; placeholder="Prix"
    {{ form_widget(edit_form.contenu) }}<br><br>


    <input type="submit" value="Edit" />
    {{ form_end(edit_form) }}

    <ul>
        <li>
            <a href="{{ path('commentaire_index') }}">Back to the list</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
