
{% extends 'base.html.twig' %}




{% block body %}

    <div class="jumbotron text-center">
        <center>
            <h2><label  for="topicOptions" style="font-size: 28px; color: #5bc0de;" class="ng-binding" >Ajouter un Menu </label></h2>
            {{ form_start(form) }}
            <fieldset style="width: 30%;margin: auto;">
                <TABLE class="table table-striped">
                    <tr><td ><div class="col-lg-4 col-md-4 col-sm-12 col-xs-12" style="border-bottom:none">
                                <label  for="topicOptions" style="font-size: 18px; color: #0b3e6f;" class="ng-binding">Entre <i class="fa  fa-globe"></i></label>


                                <div class="my-custom-class-for-errors">
                                   {{ form_errors(form) }}
                                </div>



                                <input type="text" id="entre"     {{ form_widget(form.entre) }}<br><br>


                            </div>

                        </td></tr>



                    <tr><td>
                            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12" style="border-bottom:none">
                                <label  for="topicOptions" style="font-size: 18px; color: #0b3e6f;" class="ng-binding">Plat  <i class="fa  fa-child"></i></label>

                                {{ form_widget(form.plat) }}<br><br>
                            </div>
                        </td></tr>

                    <tr><td>
                            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12" style="border-bottom:none">
                                <label  for="topicOptions" style="font-size: 18px; color: #0b3e6f;" class="ng-binding">Dessert <i class="fa  fa-child"></i></label>

                                {{ form_widget(form.dessert) }}<br><br>
                            </div>
                        </td></tr>






<tr><td>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12" style="border-bottom:none">
                        <label  for="topicOptions" style="font-size: 18px; color: #0b3e6f;" class="ng-binding" > Date  <i class="fa fa-calendar"></i></label>
                        <div class="input-group date">
                            <div class="input-group-addon" >


                                {{ form_widget(form.date) }}




                                <div  style="visibility: hidden">

                                    <label id="now" >    {{ "now"|date("m/d/Y") }}</label>
                                </div>

                            </div>


                        </div>


                    </div>
                    </td></tr>

                    <tr><td colspan="2" align="center">
                            <input type="submit" value="valider" class="btn btn-primary " id="sub">
                        </td></tr>



                </TABLE>
            </fieldset>

            {{ form_end(form) }}


        </center>

        <div class="text-center">

            <a href="{{ path('menu_index') }}" class="btn btn-primary">   <i class="fa fa-list"> <br> Retour</i>  </a>
        </div>
    </div>



    {{  form.date.vars.id }}

    {% if not form.vars.valid %}
        <ul class="alert alert-danger">
            {# on affiche en premier les erreurs globales (cas classiques) #}
            {% for error in form.vars.errors %}
                <li>{{error.message}}</li>
            {% endfor %}
            {# ainsi que les erreurs concernant chaque champs #}
            {% for child in form.children %}
                {# si le champ à des erreur #}
                {% if child.vars.errors is defined %}
                    {% for error in child.vars.errors %}
                        <li>"{{child.vars.label}}" : {{error.message}} </li> {# on ajoute le label du champ devant l'erreur pour plus de précisions. #}
                    {% endfor %}
                {% endif %}
            {% endfor %}
        </ul>
    {% endif %}


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <script>


        $('#eventbundle_menu_entre').keyup(function () {


            $.ajax({

                success: function (data) {
                    var x=$('#eventbundle_menu_entre').val();
                    if (x.length < 3 ) {
                        alert('La longueur doit être strictement supérieur à 3 et ne contient pas de chiffre');


                        $('#sub').prop('disabled', true);

                    } else {

                        $('#sub').prop('disabled', false);
                    }
                }
            });


        });


        $('#eventbundle_menu_plat').keyup(function () {


            $.ajax({

                success: function (data) {
                    var x=$('#eventbundle_menu_plat').val();
                    if  (x.length < 3 )  {
                        alert('Ce champs ne doit pas contenir des chiffres ');


                        $('#sub').prop('disabled', true);

                    } else {

                        $('#sub').prop('disabled', false);
                    }
                }
            });


        });


        $('#eventbundle_menu_dessert').keyup(function () {


            $.ajax({

                success: function (data) {
                    var x=$('#eventbundle_menu_dessert').val();
                    if (x.length < 3 )  {
                        alert('Ce champs ne doit pas contenir des chiffres ');


                        $('#sub').prop('disabled', true);

                    } else {

                        $('#sub').prop('disabled', false);
                    }
                }
            });


        });










    </script>



{% endblock %}
